body{
	
	display:flex;
	font-family: arial;
	background-image: url(servers.jpg);
	background-position: center center;	  
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
}



.contenedor{
	border:1px solid #26afff;
	margin:0 auto;
	width:60%;
	background:#fff;
	padding:10px;
	text-align:justify;
	background-color:rgba(155,155,155,0.9);
	
}

.principal{
	background: #0CB1BF;
	padding:10px;
}


.header{
	display:flex;
}


.nombre{
	margin-left:40px;
	width:100%;
}

.titulo{
	border:1px solid #0CB1BF;
	color:#0CB1BF;
}



.contacta {
	margin-center:40px;
	border:1px solid #0CB1BF;
	color:#0CB1BF;
}

h2{
	text-align:center;
	background-color:#0CB1BF;
	
}





